* body {
  background-color: #8cc461;
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}

.scorcard {
  display: flex;
  align-items: center;
  border-color: white;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 1rem;
  overflow: hidden;
  width: 50%;
  height: 10rem;
  margin-left: 25%;
  margin-top: 3rem;
}

.textScoreCard {
  display: flex;
  flex-basis: 30rem;
  font-weight: 600;
  padding-left: 1rem;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
  color: white;
  letter-spacing: 8px;
}

.scoreDisplay {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  flex-basis: 30rem;
  height: 9rem;
}

.computerContainer,
.humanContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1.7px;
  justify-content: center;

  background-color: white;
  color: #656565;
  font-weight: 600;
  border-radius: 1rem;
  width: 6rem;
  flex-basis: 40%;
  margin-right: 2rem;
}

.humanContainer {
  margin-right: -1rem;
}

#computerScore,
#humanScore {
  margin-top: 1rem;
  font-size: 4rem;
  color: black;
}

.mainContainer {
  display: flex;
  position: sticky;
  width: 22rem;
  height: 22rem;
  margin: 50px auto;
}

.rockBtn,
.paperBtn,
.scissorBtn {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 0.8rem solid transparent;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
}

.rockBtn {
  top: 0;
  left: 0;
  border-color: #0074b6;
  background-color: white;
}

.paperBtn {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-color: #ffa943;
  background-color: white;
}

.scissorBtn {
  top: 0;
  right: 0;
  border-color: #bd00ff;
  background-color: white;
}

.rulesBtn {
  position: fixed;
  bottom: 0;
  width: 6rem;
  height: 2rem;
  letter-spacing: 1.7px;
  font-size: 1rem;
  background-color: #8cc461;
  color: white;
  border-radius: 0.6rem;
  border: 2px white solid;
  margin-right: 2rem;
  right: 1rem;
  top: calc(90%);
}

.popup {
  display: none;
  position: absolute;
  right: 0;
  top: calc(33%);
  width: 22%;
  height: 50%;
  margin-right: 4rem;
}

.popup-content {
  padding-top: 1rem;
  background-color: #004429;
  width: 100%;
  height: 100%;
  border: 0.6rem white solid;
  border-radius: 1rem;

  color: white;
}

.close {
  position: absolute;
  top: -2rem;
  right: -2rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: 0.4rem white solid;
  background-color: red;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.innerContentPopUp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions li {
  list-style-image: url("https://i.imgur.com/ikPgHkf.png");
  margin-bottom: 0.8rem;
}

.gameRulesText {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.humanResultContainer {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.resultTextContainer {
  display: flex;
  font-size: 2rem;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.computerResultContainer {
  display: flex;
  justify-content: flex-start;
  align-self: center;
}
